<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sed, porro
      reprehenderit sit doloribus placeat harum necessitatibus, in minima ea
      omnis unde odit molestiae eveniet architecto deleniti at corrupti
      consequuntur.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur,
        autem?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, facere
      facilis. Sunt vero aliquam veniam sequi sit, delectus nihil numquam ex
      porro iste dolores error iusto odit, possimus rerum praesentium!
    </p>
  </div>
</section>
